#respond {

  textarea {
    min-height: 160px;
    padding: 12px;
  }

  #commentform {
  }

  .trumbowyg-box,
  .trumbowyg-editor {
    min-height: 160px;
  }

  .trumbowyg-editor {
    background: #fff;
  }

  .trumbowyg-editor {
    word-wrap: break-word;

    ul,
    ol,
    li,
    p,
    strike,
    em {
      font-size: 14px;
    }

    ul,
    ol {
      padding: 0 0 0 18px;
      margin: 0;
    }

    &.empty {
      box-shadow: inset 0 0 10px rgba(199, 64, 73, .4);
    }

  }

}